/* You can add global styles to this file, and also import other style files */

@import './variables';
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


