@import '~sass/variables';

.latest-results__header {
    margin-bottom: 3rem;
    font-weight: 400;
}

.latest-results__list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.latest-results__list-item__header {
    margin-bottom: 0.3rem;
}

.latest-results__list-item__header sub {
    font-size: 0.65rem;
}

.latest-results__list-item__value {
    color: $grey;
    font-size: 0.9rem;
}