<header class="header">
    <div>
        <a href="#" class="header-brand">
            <img src="../assets/images/logo.gif" alt="Svantek Logo">
        </a>
        <button class="logout-button">SIGN OUT</button>
    </div>
    
</header>
<main>
    <app-nvm-home></app-nvm-home>
</main>
<footer>
    <a href="https://www.linkedin.com/in/aleksander-samól-246b40116">Created by Aleksander Samól</a>
</footer>