@import '~sass/variables';

.header {
    border-bottom: 1px solid $light-grey;
}

.header > div {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-background;
}

.header-brand {
    width: 9rem;
}

.header-brand img {
    width: 100%;
}

.logout-button,
.logout-button:focus,
.logout-button:active {
    color:  $main-blue;
    border: 2px solid  $main-blue;
    background-color: $main-background;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.6rem 1.3rem;
    cursor: pointer;
    outline: none;
}

.logout-button:hover
 {
    background-color: $main-blue;
    color: $main-background;
}

footer {
    background-color: $super-light-grey;
    color: $grey;
    padding: 1.5rem 0;
    margin: 5rem auto 0;
    text-align: center;
    border-top: 1px solid $light-grey;
}

footer:hover {
    color: $dark-grey;    
}

footer a {
    color: inherit;
    text-transform: uppercase;
}



