<ul class="latest-results__list" *ngIf="latestResults$ | async as latestResults">
  <li class="latest-results__list-item">
    <span class="latest-results__list-item__header">Time</span>
    <span class="latest-results__list-item__value">{{ latestResults.dateTime | date:'medium' }}</span>
  </li>
  <li class="latest-results__list-item">
    <span class="latest-results__list-item__header">L
      <sub>Aeq</sub> Level T
      <sub>15</sub>
    </span>
    <span class="latest-results__list-item__value">{{ latestResults.laeq | number:'1.2-2' }} dB</span>
  </li>
  <li class="latest-results__list-item">
    <span class="latest-results__list-item__header">L
      <sub>Amax</sub> Level T
      <sub>15</sub>
    </span>
    <span class="latest-results__list-item__value">{{ latestResults.lamax | number:'1.2-2' }} dB</span>
  </li>
  <li class="latest-results__list-item">
    <span class="latest-results__list-item__header">L
      <sub>10</sub> Level T
      <sub>15</sub>
    </span>
    <span class="latest-results__list-item__value">{{ latestResults.l10 | number:'1.2-2' }} dB</span>
  </li>
  <li class="latest-results__list-item">
    <span class="latest-results__list-item__header">L
      <sub>90</sub> Level T
      <sub>15</sub>
    </span>
    <span class="latest-results__list-item__value">{{ latestResults.l90 | number:'1.2-2' }} dB</span>
  </li>
  <li class="latest-results__list-item">
    <span class="latest-results__list-item__header">L
      <sub>Aeq</sub> Level T
      <sub>60</sub>
    </span>
    <span class="latest-results__list-item__value">{{ latestResults.laeqn | number:'1.2-2' }} dB</span>
  </li>
</ul>