<div class="plot-container">

  <canvas 
    #plot 
    baseChart 
    [datasets]="lineChartData" 
    [labels]="lineChartLabels" 
    [options]="lineChartOptions" 
    legend="true" 
    chartType="line">
  </canvas>
</div>