<nav class="nav-bar">
  <ul class="nav-bar__items">
    <li class="nav-bar__item">N1 45458</li>
    <li class="nav-bar__item">N2 45466</li>
    <li class="nav-bar__item">V1 45547</li>
    <li class="nav-bar__item">V2 34572</li>
    <li class="nav-bar__item">V3 45528</li>
    <li class="nav-bar__item">V4 45546</li>
    <li class="nav-bar__item">V5 36673</li>
    <li class="nav-bar__item">V6 36612</li>
  </ul>
</nav>