@import '~sass/variables';

.nav-bar {
    background: $super-light-grey;
    padding: 0 3rem;
}

.nav-bar__items {
    display: flex;
    flex-wrap: wrap;
}

.nav-bar__item {
    color: $grey;
    margin-right: 2rem;
    padding: 1.5rem 0;
    cursor: pointer;
}

.nav-bar__item:hover,
.nav-bar__item:active {
    border-bottom: 0.2rem solid $main-blue;
    padding-bottom: 1.3rem;
}