<div class="nvm">
  <div class="left-window">
    <div class="latest-results">
      <h3 class="latest-results__header">Latest results</h3>
      <app-nvm-noise-latest-results></app-nvm-noise-latest-results>
    </div>
  </div>
  <div class="right-window">
    <app-nvm-navigation></app-nvm-navigation>
    <div class="workspace">
      <div class="plot">
        <h1 class="time-history">Time history</h1>
        <app-nvm-noise-plot></app-nvm-noise-plot>
      </div>
      <div class="actions">
        <app-nvm-actions></app-nvm-actions>
      </div>
    </div>
  </div>

</div>