@import '~sass/variables';

.nvm {
    display: flex;
}

.left-window {
    border-right: 1px solid $light-grey;
    padding: 3rem;
    flex-shrink: 0;
}

.latest-results__header {
    margin-bottom: 3rem;
    font-weight: 400;
}

.right-window {
    width: 100%;
    height: 100%;
}

.workspace {
    margin: 3.5rem 0 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plot {
    width: 85%;
}


.actions {
    margin: auto;
}
.time-history {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1.9rem;
}

