<div class="actions">
  <div class="action" (click)="print()">
    <span alt="Print"><i class="fa fa-print"></i></span>
  </div>
  <div class="action">
    <span alt="Downloads"><i class="fa fa-download"></i></span>
  </div>
  <div class="action">
    <span alt="Settings"><i class="fa fa-cog"></i></span>
  </div>
</div>