@import '~sass/variables';

.actions {
    margin: 0 3rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.action {
    margin: 3rem 0;
    color: $grey;
    cursor: pointer;
    position: relative;
}

.action:hover {
    color: $dark-grey;
}

.action span:hover:after{
    content: attr(alt);
    position: absolute;
    top: 120%;
    right: -2rem;
    font-size: 0.8rem;
    border: 0.07rem solid #717070;
    padding: 0.3rem 0.4rem;
    background: rgba(93, 91, 91, 0.18);
    border-radius: 0.2rem;
    width: 4rem;
    text-align: center;
}

.action span {
    font-size: 2rem;
}
